/* Contenedor de los libros */
.book-row {
    display: flex;
    flex-wrap: nowrap;  /* Impide que las cartas se muevan a una nueva fila */
    gap: 30px;          /* Aumenta el espacio entre las cartas */
    justify-content: flex-start;
    overflow-x: auto;   /* Permite hacer scroll horizontal si es necesario */
    padding: 20px 0;     /* Espaciado superior e inferior */
  }
  
  /* Estilo de cada carta */
  .book-card {
    width: 250px;       /* Ancho fijo de cada carta */
    height: 500px;      /* Altura fija de cada carta */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;  /* Elementos dentro de la carta alineados en columna */
    padding: 10px;
  }
  
  /* Imagen dentro de la carta */
  .card-img {
    width: 100%;
    height: 200px;
  }
  
  /* Cuerpo de la carta */
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-grow: 1; /* Asegura que el cuerpo de la carta ocupe el espacio restante */
  }
  
  /* Título del libro */
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para los botones */
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(45deg, #216AD8, #113264);
    color: white;
    border: none;
    border-radius: 20px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: linear-gradient(45deg, #004b61, #4c7e9b);
  }
  
  /* Estilo para los badges */
  .badge {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  /* Estilos para el modal de confirmación */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .modal-buttons .btn-danger {
    background-color: #d9534f;
    color: white;
  }
  
  .modal-buttons .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  