<div class="book-card">
  <img [src]="libro.imagen" [alt]="libro.Nombre" class="card-img">
  <div class="card-body">
    <h5 class="card-title">{{ libro.Nombre }}</h5>
    <p class="badge">{{ libro.GeneroPrincipal }} / {{ libro.GeneroSecundario }}</p>
    <p>Estado: {{ libro.cantidadDisponible > 0 ? 'Disponible' : 'No disponible' }}</p>
    <p>Cantidad: {{ libro.cantidadDisponible }}</p>
    <button class="btn btn-warning">Modificar</button>
    <button 
      class="btn btn-danger" 
      *ngIf="!eliminando" 
      (click)="mostrarFormularioEliminacion()">Eliminar
    </button>

    <!-- Formulario de confirmación -->
    <div *ngIf="eliminando" class="confirmacion-form">
      <p>¿Estás seguro de que quieres eliminar este libro?</p>
      <button class="btn btn-danger" (click)="eliminarLibro()">Sí, eliminar</button>
      <button class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
    </div>
  </div>
</div>
