/* Book Card */
.book-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 240px; /* Ajusta el ancho de las tarjetas para que ocupen menos espacio */
  margin: 0; /* Elimina márgenes extra */
  overflow: hidden;
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-card .card-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.book-card .card-body {
  padding: 15px;
}

.book-card h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.book-card .badge {
  background-color: #216AD8;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.book-card p {
  margin: 5px 0;
}

.book-card button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.book-card .btn-warning {
  background: linear-gradient(45deg, #216AD8, #113264) !important;
  color: white;
  border: none;
}

.book-card .btn-danger {
  background: linear-gradient(45deg, #216AD8, #113264) !important;
  color: white;
  border: none;
}

/* Estilos para el formulario de confirmación */
.confirmacion-form {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.confirmacion-form p {
  margin-bottom: 10px;
  font-size: 14px;
}

.confirmacion-form .btn {
  margin: 5px;
  width: 120px;
}
