<div class="book-card">
  <img [src]="libro.imagen" [alt]="libro.Nombre" class="card-img">
  <div class="card-body">
    <h5 class="card-title">{{ libro.Nombre }}</h5>
    <p class="badge">{{ libro.GeneroPrincipal }} / {{ libro.GeneroSecundario }}</p>
    <p>Estado: {{ libro.cantidadDisponible > 0 ? 'Disponible' : 'No disponible' }}</p>
    <p>Cantidad: {{ libro.cantidadDisponible }}</p>
    
    <!-- Botón para modificar el libro -->
    <button class="btn btn-warning" (click)="mostrarFormularioEdicion()">Modificar</button>
    <button 
      class="btn btn-danger" 
      *ngIf="!eliminando" 
      (click)="mostrarFormularioEliminacion()">Eliminar
    </button>

    <!-- Formulario de edición -->
    <div *ngIf="editando" class="edit-form">
      <h5>Editar Libro</h5>
      <form (ngSubmit)="actualizarLibro()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="libro.Nombre" name="nombre" required>

        <label for="generoPrincipal">Género Principal:</label>
        <input type="text" id="generoPrincipal" [(ngModel)]="libro.GeneroPrincipal" name="generoPrincipal" required>

        <label for="generoSecundario">Género Secundario:</label>
        <input type="text" id="generoSecundario" [(ngModel)]="libro.GeneroSecundario" name="generoSecundario">

        <label for="Autor">Autor:</label>
        <input type="text" id="Autor" [(ngModel)]="libro.Autor" name="Autor">

        <label for="AnoPubli">Año de Publicación:</label>
        <input type="number" id="AnoPubli" [(ngModel)]="libro.AnoPubli" name="AnoPubli">

        <label for="Editorial">Editorial:</label>
        <input type="text" id="Editorial" [(ngModel)]="libro.Editorial" name="Editorial">

        <label for="ISBN">ISBN:</label>
        <input type="number" id="ISBN" [(ngModel)]="libro.ISBN" name="ISBN">

        <label for="cantidadDisponible">Cantidad Disponible:</label>
        <input type="number" id="cantidadDisponible" [(ngModel)]="libro.cantidadDisponible" name="cantidadDisponible">

        <label for="Imagen">Imagen:</label>
        <input type="text" id="Imagen" [(ngModel)]="libro.imagen" name="Imagen">

        <div>
          <button type="submit" class="btn btn-primary">Confirmar</button>
          <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </form>
    </div>

    <!-- Formulario de confirmación de eliminación -->
    <div *ngIf="eliminando" class="confirmacion-form">
      <p>¿Estás seguro de que quieres eliminar este libro?</p>
      <button class="btn btn-danger" (click)="eliminarLibro()">Sí, eliminar</button>
      <button class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
    </div>
  </div>
</div>

